h1,
.h1 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;

  @media only screen and (min-width: theme('screens.md')) {
    font-size: 110px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: 0;

  @media only screen and (min-width: theme('screens.md')) {
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0;

  @media only screen and (min-width: theme('screens.md')) {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1.2px;
  }
}

h4,
.h4 {
  font-size: 40px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0;

  @media only screen and (min-width: theme('screens.md')) {
  }
}

h5,
.h5 {
  font-size: 32px;
  line-height: 140%;
  font-weight: 500;
  text-align: left;
  letter-spacing: -.6px;

  @media only screen and (min-width: theme('screens.md')) {
  }
}

h6,
.h6 {
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
  text-align: left;
  letter-spacing: -1.3px;

  @media only screen and (min-width: theme('screens.md')) {
  }
}

p,
.p {
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0;

  @media only screen and (min-width: theme('screens.md')) {
  }

  &.p-md {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: -.8px;

    @media only screen and (min-width: theme('screens.md')) {
    }
  }

  &.p-sm {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;

    @media only screen and (min-width: theme('screens.md')) {
    }
  }
}

b,
strong {
  font-weight: 700;
}

a {
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0;

  &:hover {
    text-decoration: none;
  }
}

hr {
}

ul {
  margin: 0 0 0 26px;
  list-style-type: disc;

  li {
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;

    @media only screen and (min-width: theme('screens.md')) {
    }
  }
}

ol {
  margin: 0 0 0 26px;
  list-style: decimal;

  li {
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;

    @media only screen and (min-width: theme('screens.md')) {
    }
  }
}

table {
  width: 100%;

  th {
  }

  td {
  }
}

tr {
}

th {
}

td {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

div,
a,
a:active,
a:focus {
  outline: none;
}
